body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-image: url('media/background.png');
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 1400px;  /* 增大容器宽度 */
    min-height: 800px;  /* 增大容器高度 */
    margin: 30px auto; /* 调整顶部空隙 */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* 背景稍微透明 */
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
    background-color: teal;
    background-image: url('media/logo.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding: 20px 0;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.btn {
    padding: 12px 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-top: 15px;
}

.original-image {
    background-color: #f0f0f0;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    text-align: left;
}

.original-image h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #4CAF50;
}

#uploaded-image img {
    max-width: 100%;
    max-height: 250px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.result {
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
}

.result h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #4CAF50;
}

.result .method-group {
    margin-top: 20px;
}

.method-group h3 {
    color: #333;
}

.image-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image-row img {
    width: 150px;  /* 固定宽度 */
    height: 150px;  /* 固定高度 */
    object-fit: cover;  /* 保持图片比例，裁切图片 */
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.image-info {
    text-align: center;  /* 居中显示 */
    margin-top: 5px;      /* 与图片保持一定间距 */
    font-size: 0.9em;     /* 小字体显示相似度 */
    color: #333;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

/* 按钮样式 */
.method-btn {
    padding: 12px 18px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.method-btn:hover {
    background-color: #e1e1e1;
}

/* 被选中的按钮的样式 */
.method-btn.selected {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
}

/* 禁用的按钮的样式 */
.method-btn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}
